<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <link rel="stylesheet" href="{{site.url}}/css/core.css" media="screen" />
  <title>叶子绿的天空</title>
</head>

<body>

  <div class="wrapper">
    <div id="sidebar">
      <p>一个靠谱的前端,一个追求梦想的北漂...</p>
      <gcse:search></gcse:search>
      <h3>最新文章</h3>
      <hr/>
      <ul>
        <ul style='list-style:none;margin:0px;padding:0px;'>
          {% for post in site.posts %}
          <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </ul>

    </div>
    <div id="content">
      {{content}}
    </div>
  </div>

  <div class='footer'>
    <p>Projects by <a href="https://github.com/heyi">heyi</a> can be found on <a href="https://github.com/heyi">GitHub</a>
    </p>
  </div>
  <script>
    (function()
    {
      var cx = '009806538180136954447:lqdc3guu3os';
      var gcse = document.createElement('script');
      gcse.type = 'text/javascript';
      gcse.async = true;
      gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(gcse, s);
    })();
  </script>
</body>

</html>